body {
	padding-left: 30px;
}

ul {
	border: 1px solid black;
	border-radius: 4px;
	list-style: none;
	width: 200px;
	padding: 0;
	margin: 20px;
}

ul.highlight {
	border: 2px solid blue;
}

ul li {
	border: 1px solid black;
	margin: 5px;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}
